<div *ngIf="_modalService.modal" class="abrir-modal animacion fadeIn">
    <div class="modal" role="dialog" style="display: block; margin-top: 4%">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{titulo}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">

                            <div class="col-sm">
                                <ul *ngIf="cliente" class="list-group text-dark mb-3">
                                    <li class="list-group-item active">{{cliente.nombre}}</li>
                                    <li class="list-group-item">{{cliente.apellido}}</li>
                                    <li class="list-group-item">{{cliente.email}}</li>
                                    <li class="list-group-item">{{cliente.createAt | date:"fullDate"}}</li>
                                    <li class="list-group-item">{{cliente.region.nombre}}</li>
                                </ul>

                                <div *ngIf="_authService.hasRole('ROLE_ADMIN')" class="input-group mb-3">
                                    <div class="custom-file">
                                        <input (change)="seleccionarFoto($event)" type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                                        <label class="custom-file-label" for="inputGroupFile04">Seleccionar foto</label>
                                    </div>
                                    <div class="input-group-append">
                                        <button (click)="subirFoto()" [disabled]="!fotoSeleccionada" class="btn btn-primary py-1" type="button" id="inputGroupFileAddon04" [ngStyle]="{'margin-left': '12%'}">Subir</button>
                                    </div>
                                </div>

                                <div *ngIf="progreso > 0" class="progress" style="height: 40px;">
                                    <div class="progress-bar progress-bar-striped" role="progressbar" [ngStyle]="{width:progreso+'%'}" attr.aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100">
                                        {{progreso}}%
                                    </div>
                                </div>

                            </div>

                            <div class="col-sm">
                                <img *ngIf="cliente?.foto" src="http://localhost:8080/api/uploads/img/{{cliente.foto}}" alt="{{cliente.foto}}" class="img-thumbnail rounded">
                            </div>
                        </div>
                        <div class="row">

                            <div *ngIf="cliente.facturas.length == 0" class="alert alert-info my-4">
                                No hay facturas asignadas para el cliente {{cliente.nombre | uppercase}} {{cliente.apellido | uppercase}}
                            </div>
                            <table *ngIf="cliente.facturas.length > 0" mdbTable striped="true" class="table-bordered table-striped my-4">
                                <thead>
                                    <tr>
                                        <th scope="col">{{ 'folio' | uppercase}}</th>
                                        <th scope="col">{{ 'descripción' | uppercase }}</th>
                                        <th scope="col">{{ 'fecha' | uppercase }}</th>
                                        <th scope="col">{{ 'total' | uppercase }}</th>
                                        <th scope="col">{{ 'detalle' | uppercase }}</th>
                                    </tr>
                                </thead>
                                <tbody class="zoomIn">
                                    <tr mdbTableCol *ngFor="let factura of cliente.facturas">
                                        <td>{{factura.id}}</td>
                                        <td>{{factura.descripcion}}</td>
                                        <td>{{factura.createAt}}</td>
                                        <td>{{factura.total}}</td>
                                        <td><button mdbBtn type="button" color="elegant" outline="true" 
                                            [routerLink]="['/facturas', factura.id]">ver</button></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>